@import "header.css";
@import "main-body.css";

html,body {height:100%;}

*{
    font-size:max(15px,1vmax);
    color:black;
    margin:0;
    padding:0;
}

.container{
    display:flex;
    flex-direction: column;
    height:100%;
}